@charset "UTF-8";

@font-face {
  font-family: "netflix";
  src: url("netflix.otf") format("opentype"),
    url("netflix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "netflix" sans-serif, Arial, Helvetica, sans-serif;
}

body {
  margin: 0% 0% 0% 0%;
}
/* */
/* Link*/
.link {
  text-decoration: none;
  color: #737373;
}

.duvida {
  text-decoration: none;
  color: #737373;
}

.inscreva {
  text-decoration: none;
  color: #ffffff;
}

/*  logo da netflix*/
#logo {
  width: 250px;
  margin: 20px 0px 0px 20px;
}

/* entra na sua conta*/

.posicaologin {
  margin: 0px auto -550px;
  max-width: 700px;
}

.text {
  background-color: #333333;
  margin-bottom: 14px;
  padding: 12px;
  width: 98%;
  border: #333333 solid 1px;
  border-radius: 4px;
}

.butVer {
  width: 100%;
  padding: 12px;
  margin: 0px 14px;
  color: #ffffff;
  background-color: #ff0000;
  border: #ff0000 solid 1px;
  cursor: pointer;
}

.help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infor {
  background-color: #00000062;
  display: block;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 35% 0%;
}

.login {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #00000093;
  padding: 9% 9%;
  margin: 0% 0% 4% 0%;
}

/* imgagem de fundo*/
.fundo {
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* botao de sabia mais*/
#about {
  display: none;
}

#meuBotao {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  color: #0000ff;
}

.link1 {
  text-decoration: none;
  color: #0080ff;
}

/* rodape*/
#footer {
  color: #ffffff;
  background-color: #010813;
}

.footer ul {
  text-decoration: none;
  columns: 2;
}

.rodape{
 background-color: #ff0000;
}


